services:
  mongo_db:
    container_name: mongo
    image: mongo:latest
    restart: on-failure
    ports:
      - '27017:27017'

  app:
    container_name: cryptora
    build: .
    restart: unless-stopped
    env_file: ./.env
    ports:
      - '8088:8088'
    depends_on:
      - mongo_db