binance:
  api:
    key: ${API_KEY}
    secret: ${API_SECRET}

spring:
  application:
    name: cryptora

  data:
    mongodb:
      host: host.docker.internal
      port: 27017
      database: binance

cryptora:
  short:
    time:
      period: 5
  long:
    time:
      period: 15
  atr:
    period: 14
    multiplier: 1.5
  rsi:
    period: 9
    overbought: 65
    oversold: 35

server:
  port: 8088