binance:
  api:
    key: ${API_KEY}
    secret: ${API_SECRET}

spring:
  application:
    name: cryptora

  datasource:
    username: dbuser
    password: 1234
    url: jdbc:postgresql://host.docker.internal:5432/default
    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    enabled: true

cryptora:
  short:
    time:
      period: 9
  long:
    time:
      period: 21
  atr:
    period: 14
    multiplier: 2.0
  rsi:
    period: 14
    overbought: 70
    oversold: 30
  volume:
    period: 20

server:
  port: 8088
