binance:
  api:
    key: ${API_KEY}
    secret: ${API_SECRET}

spring:
  application:
    name: cryptora

  data:
    mongodb:
      host: host.docker.internal
      port: 27017
      database: binance

cryptora:
  short:
    time:
      period: 9
  long:
    time:
      period: 21
  atr:
    period: 14
    multiplier: 2.0
  rsi:
    period: 14
    overbought: 70
    oversold: 30
  volume:
    period: 20

server:
  port: 8088
